.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: 'rgba(54, 162, 235, 0.6)';
    color: white;
    border-bottom: 1px solid #ccc;
  }
  
  .dashboard-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .filters {
    display: flex;
    align-items: center;
  }
  
  .date-filter {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .department-filter {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  